.wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 15rem;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 40%;

  div {
    border: 1px solid #000;
    padding: 10px;
  }
}

h2 {
  align-content: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
