@import '../../../../globals/ads-variables.scss';

.user__form {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  row-gap: 1.5rem;
  width: 100%;
}

.form__group {
  display: contents;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 200%;
}

.form__label {
  color: $--ads-colors-black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form__submit {
  align-items: center;
  display: flex;
  grid-column: span 2;
  margin-left: 37%;
  margin-top: 20px;
}
