$--ads-colors-blue-40: #78a9ff;
$--ads-colors-blue-50: #4589ff;
$--ads-colors-blue-60: #0f62fe;
$--ads-colors-blue-70: #054ada;
$--ads-colors-blue-80:#002d9c;
$--ads-colors-blue-90: #1500fff9;
$--ads-colors-green-40: #42be65;
$--ads-colors-green-50: #24a148;
$--ads-colors-red-50: #fa4d56;
$--ads-colors-red-60: #da1e28;
$--ads-colors-red-70: #ba1b23;
$--ads-colors-red-80: #750e13;
$--ads-colors-yellow-60: #ffc700;
$--ads-colors-white: #fff;
$--ads-colors-gray-10: #f4f4f4;
$--ads-colors-gray-20: #e0e0e0;
$--ads-colors-gray-40: #a8a8a8;
$--ads-colors-gray-50: #8d8d8d;
$--ads-colors-gray-60: #6f6f6f;
$--ads-colors-gray-70: #525252;
$--ads-colors-gray-80: #393939;
$--ads-colors-gray-100: #161616;
$--ads-background-active: #750e13;
$--ads-font-size-primary: 1rem;
$--ads-font-size-second: 1.75rem;
$--ads-font-size-quarter: 2.5rem;
$--ads-font-size-fifth: 0.75rem;
$--ads-font-size-sixth: 0.938rem;
$--ads-font-weight-first: 400;
$--ads-font-weight-second: 800;
$--ads-line-height-default: 1.3;
