$--ads-colors-blue-40: #78a9ff;
$--ads-colors-blue-50: #4589ff;
$--ads-colors-blue-60: #0f62fe;
$--ads-colors-green-40: #42be65;
$--ads-colors-green-50: #24a148;
$--ads-colors-red-50: #fa4d56;
$--ads-colors-red-60: #da1e28;
$--ads-colors-yellow-60: #ffc700;
$--ads-colors-white: #fff;
$--ads-colors-gray-10: #f4f4f4;
$--ads-colors-gray-20: #e0e0e0;
$--ads-colors-gray-40: #a8a8a8;
$--ads-colors-gray-50: #8d8d8d;
$--ads-colors-gray-60: #6f6f6f;
$--ads-colors-gray-70: #525252;
$--ads-colors-gray-80: #393939;
$--ads-colors-gray-100: #161616;
