$--ads-colors-blue-40: #78a9ff;
$--ads-colors-blue-50: #4589ff;
$--ads-colors-blue-60: #0f62fe;
$--ads-colors-green-40: #42be65;
$--ads-colors-green-50: #24a148;
$--ads-colors-red-50: #fa4d56;
$--ads-colors-red-60: #da1e28;
$--ads-colors-yellow-60: #FFC700;

