$ads-links-backgrounds: #78a9ff;
$ads-info-high-contrast: #4589ff;
$ads-primary-link-ghost-btn: #0f62fe;
$ads-success-high-contrast: #42be65;
$ads-success: #24a148;
$ads-danger-high-contrast: #fa4d56;
$ads-danger-btn-background: #da1e28;
$ads-warning: #FFC700;

