.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.item {
  box-sizing: border-box;
  flex: 1 1 calc(10% - 10px);
  min-width: 100px;
  padding: 10px;
}
