@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/mixins';

.button-chevron  {
  background: $--ads-colors-gray-10;
  border: none;
  height: 48px;  
  width: 48px;
}

icon-chevron {
  height: auto;
  width: 48px;

  & svg {
    height: 100%;
    width: 100%;
  }

  & svg rect {
    stroke: currentcolor;
    stroke-width: 1;
  }
}