@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/mixins';

.magnifying__button {
  align-items: center;
  background-color: $--ads-colors-transparent;
  border: none;
  color: $--ads-colors-blue-50;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0;

  span {
    display: inline-block;
    height: 24px;
    width: 24px;

    & svg {
      fill: currentcolor;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    color: $--ads-colors-blue-60;
  }
}

.icon-border {
  border: 1px solid $--ads-colors-gray-20;
  border-radius: 50%;
  padding: 4px;

  &:hover {
    border-color: $--ads-colors-gray-40;
  }
}
