@import '../../../../globals/ads-variables.scss';

.form__site {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  row-gap: 1.5rem;
  // width: 100%;
}

.form__group {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;

  > input {
    width: 90%;
  }
}

.form__label {
  color: $--ads-colors-black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form__submit {
  align-items: center;
  display: flex;
  grid-column: span 2;
  margin-left: 37%;
  margin-top: 20px;
}

.form__editing {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

  > :nth-child(1) {
    background-color: $--ads-colors-gray-20;
    margin: 0;
    width: 60%;

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
      }
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    width: 40%;

    > button {
      width: 100%;
    }
  }
}
