.toggle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 10px; 
  }
  
  .toggle-header {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333; /* Color del texto */
  }
.toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-checkbox {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .toggle-checkbox:checked {
    background-color: #7bf07f;
  }
  
  .toggle-checkbox:checked::before {
    left: 20px;
  }
  
  .toggle-checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s;
  }
  .toggle-checkbox:hover {
  
 
    background-color: #05e90d; 
    }
    
    .toggle-checkbox:hover:checked {
      background-color: #05e90d; 
    }
  


.toggle-checkbox:active {
  border: 2px solid #3b48ff; 
}
.toggle-checkbox:disabled {
    background-color: #e0e0e0; 
    

  cursor: not-allowed;
  }.toggle-checkbox:disabled::before {
    background-color: #9e9e9e; 
  }
  
  
  .toggle-label {
    margin-left: 8px;
  }

  