---
const { title = 'Default Title' } = Astro.props;
---

<!--// src/layouts/BaseLayout.astro--><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <header>
      <h1>My Astro Project</h1>
    </header>
    <main>
      <!-- Aquí se inyecta el contenido de la página -->
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 My Astro Project</p>
    </footer>
  </body>
</html>
