@import '../../../../globals/ads-variables.scss';
@import '../../../../globals/fonts';

.indicator {
    align-items: center;
    background-color: $--ads-colors-gray-10;
    border: 1px solid $--ads-colors-gray-10;
    color: $--ads-colors-black;
    display: flex;
    font-family: Barlow, sans-serif;
    font-size: $--ads-font-size-second; 
    font-weight: 600;
    height: 35px;
    justify-content: center;
    margin: 5px;
    padding: 6px;
    padding-inline: 25px;
    text-align: center;
    width: auto;
}

    